/* index.css*/

@import "tailwindcss"; /* Importa utilidades de TailwindCSS */

/* Define la variante personalizada 'dark' para aplicar estilos en modo oscuro */
@custom-variant dark (&:where(.dark, .dark *));

/* Estilos base aplicados a elementos HTML principales */
@layer base {
  html {
    @apply transition-colors duration-300; /* Transición suave de colores al cambiar de tema */
  }
  body {
    @apply bg-white dark:bg-slate-900 text-slate-900 dark:text-slate-200; /* Fondo y texto según el tema */
  }
}

/* Variables y estilos globales para fuentes y renderizado */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Color de placeholder en inputs para modo claro y oscuro */
input::placeholder {
  color: #a3a3a3; /* color para modo claro */
}
.dark input::placeholder {
  color: #d1d5db; /* color para modo oscuro */
}

/* Estilos para enlaces */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Estilos generales para el body */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Estilos para títulos h1 en ambos temas */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: black;
}
.dark h1 {
  color: white;
}

/* Estilos para botones en ambos temas */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
.dark button {
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}